@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIn.cshtml";
}
<br />
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Nuevo Reporte</h3>
            </div>
            <div class="panel-body">
                <div class="form-inline">
                    <label class="sr-only" for="inlineFormInputGroup">Username</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon">Gallina</div>
                        <input type="text" id="gallina" class="form-control" />
                        <input type="hidden" id="idgallina" name="Proveedor_Id" />
                    </div>

                    <label class="sr-only" for="inlineFormInputGroup">Username</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon">Status Gallina</div>
                        <select id="ststugallina" class="form-control"></select>
                    </div>

                    <button class="btn btn-success" id="agregarElemento">Agregar Gallina</button>
                    <button class="btn btn-primary" id="guardarReporte">Guardar Reporte</button>
                    <a href="@Url.Action("Index")" class="btn btn-default">Cancelar</a>
                </div>
                <br />
                <table id="tblGallinas" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Gallina</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<style>
    ul.ui-autocomplete {
        z-index: 1100;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: scroll;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
</style>

@section Scripts{

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript">

        // After Add A New Order In The List, If You Want, You Can Remove It.
        $(document).on('click', 'a.btn-danger', function (e) {
            e.preventDefault();
            var $self = $(this);
            if ($(this).attr('data-itemId') == "0") {
                $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                    $(this).remove();
                });
            }
        });

        //Add Multiple Order.
        $("#agregarElemento").click(function (e) {
            e.preventDefault();

            if ($.trim($("#gallina").val()) == "" || $.trim($("#idgallina").val()) == "") return;

            var gallina = $("#gallina").val(),
                ststugallina = $("#ststugallina").val(),
                tblGallinas = $("#tblGallinas tbody");


            var validar = '';

            $.each($("#tblGallinas tbody tr"), function () {
                var gallinaval = $(this).find('td:eq(0)').html();
                if (gallinaval === gallina) {
                    validar = 'Error';
                }
            });

            if (validar != 'Error') {
                var gallinaItem = '<tr><td>' + gallina + '</td><td>' + ststugallina + '</td><td><a data-itemId="0" href="#" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a></td></tr>';
                tblGallinas.append(gallinaItem);
            }
            else {
                alert('Esta gallina ya fue agregada.');
            }

            $("#gallina").val("");
            $("#gallina").focus();
        });

        $(function () {
            var ddlStatus = $("#ststugallina");
            ddlStatus.empty().append('<option selected="selected" value="0" disabled = "disabled">Loading ...</option>');
            $.ajax({
                type: "POST",
                url: "/reportes/ListaStatusGallinas",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    ddlStatus.empty().append('<option selected="selected" value="0">Seleccione una opcion...</option>');
                    $.each(response, function () {
                        ddlStatus.append($("<option></option>").val(this['Value']).html(this['Text']));
                    });
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });

        $(function () {
            $("#gallina").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/reportes/AutoCompleteGallinas/',
                        data: "{ 'prefix': '" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }));
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                change: function (event, ui) { },
                select: function (e, i) {
                    $("#idgallina").val(i.item.val);
                },
                minLength: 0
            }).focus(function () {
                $(this).autocomplete("search");
            });
        });

        $("#guardarReporte").click(function (e) {
            e.preventDefault();

            var orderArr = [];

            orderArr.length = 0;

            $.each($("#tblGallinas tbody tr"), function () {
                orderArr.push({
                    gallina: $(this).find('td:eq(0)').html(),
                    statusgallina: $(this).find('td:eq(1)').html(),
                });
            });

            var data = JSON.stringify({
                detalleReporte: orderArr
            });

            $.when(guardarReporte(data)).then(function (response) {
                console.log(response);
            }).fail(function (err) {
                console.log(err);
            });
        });


        //After Click Save Button Pass All Data View To Controller For Save Database
        function guardarReporte(data) {
            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/reportes/GuardarReporte",
                data: data,
                success: function (result) {
                    if (result.respuesta) {
                        window.location = "Index";
                    }
                    else {
                        alert("Ha ocurrido un error al guardar.");
                    }
                },
                error: function () {
                    alert("Error al procesar la solicitud!");
                }
            });
        }
    </script>
}